<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jq.js"></script>
</head>

<body>
    <form action="/tables/cha" method="POST">
        <div class="form-group">
            <label>商品id</label>
            <p><input type="text" name="id" value="<%=obj.id %>" class="form-input" readonly unselectable='on'></p>
        </div>
        <div class="form-group" id="pid" datakey="<%=obj.id %>">
            <label>商品名称</label>
            <p><input type="text" name="product_name" value="<%=obj.product_name %>"></p>
        </div>
        <div class="form-group">
            <label>分类名称</label>
            <p>
                <input type="text" name="category_name" list="category" autocomplete="off"
                    value="<%=obj.category_name %>">
                <datalist id="category">
                    <option>白玫瑰</option>
                    <option>红玫瑰</option>
                    <option>香槟玫瑰</option>
                    <option>粉色玫瑰</option>
                </datalist>
            </p>
        </div>
        <div class="form-group">
            <label>详情</label>
            <p><input type="text" name="details" value="<%=obj.details %>" class="form-input"></p>
        </div>
        <div class="form-group">
            <label>价格</label>
            <p><input type="number" name="price" value="<%=obj.price %>" class="form-input"></p>
        </div>
        <div class="form-group">
            <label>销量</label>
            <p><input type="number" name="sales_count" value="<%=obj.sales_count %>" class="form-input"></p>
        </div>
        <div class="form-group">
            <label>库存</label>
            <p><input type="number" name="inventory" value="<%=obj.inventory %>" class="form-input"></p>
        </div>
        <div class="form-group">
            <p><input type="file" id="pic" name="pic" accept="image/*"></p>
        </div>
        <button type="submit" class="btn btn-default" id="submit_cha">提交</button>
    </form>
    <script src="/javascripts/product.js"></script>
</body>

</html>