<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/backstage.css">
    <script src="/javascripts/jq.js"></script>
</head>
<body>
    <div>
        <input type="text">
        <button>搜索</button>
    </div>
    <div>
        <hr color="#f90">
        <button>添加</button>
        <hr color="#f90">
    </div>
    <div>
        <table class="table-bordered">
            <tr style="font-weight: 600;text-align: center;">
                <td>图片</td>
                <td>名称</td>
                <td>类别</td>
                <td>详情</td>
                <td>价格</td>
                <td>销售数量</td>
                <td>库存</td>
                <td>上架时间</td>
                <td>操作</td>
            </tr>
            <% for(var i = 0 ;i < list.length; i++){ %>
            <tr datakey = <%=list[i].id %> >
                <td class="img"><img src=<%=list[i].product_img %> ></td>
                <td><%=list[i].product_name %></td>
                <td><%=list[i].category_name %></td>
                <td><%=list[i].details %></td>
                <td><%=list[i].price %></td>
                <td><%=list[i].sales_count %></td>
                <td><%=list[i].inventory %></td>
                <td><%=list[i].create_time %></td>
                <td>
                    <button class="cha">编辑</button>
                    <button class="del">删除</button>
                </td>
            </tr>
            <%} %>
        </table>
    </div>
    <script src="/javascripts/product.js"></script>
</body>
</html>